*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: #333;
    color: bisque;
}

h1 {
    text-align: center;
    margin: 40px auto;
    text-decoration: underline;
    font-size: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    max-width: 700px;
}

p {
    margin: 20px 0px;
    font-size: 22px;
}