*, 
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: bisque;
}

h1 {
    font-weight: 900;
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
}

pre {
    font-size: 20px;
}